<div class="bg-success text-white">
  <h1 class="pt-2 text-center">Favorites</h1>
  <%= link_to "", products_path, class: "fas fa-arrow-left ml-2", style: "text-decoration: none" %>
</div>
<div class="my-2 bg-white container">
  <% @favorites.each do |favorite| %>
    <div class="swiper-container favorite-card">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="red-box mr-1">
            <%= link_to "", favorite_path(favorite), method: :delete, class: "action fa fa-trash trash-icon novaklasa" %>
          </div>
        </div>
        <div class="swiper-slide border-bottom p-2 d-flex align-items-center">
          <img class="product-img mr-4" src="<%= favorite.product.product_img %>" alt=""  data-toggle="modal" data-target="#product-info-<%= favorite.product.id %>">
          <h3 data-toggle="modal" data-target="#product-info-<%= favorite.product.id %>"><%= favorite.product.name %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
