<nav>
  <% if user_signed_in? %>
    <%= image_tag current_user.image, class: "avatar" %>
    <%= link_to root_path do  %>
      <%= image_tag 'logo.png', class: "logo" %>
    <% end %>
    <div class="d-flex align-items-center">
      <div class="position-relative">
        <%= link_to groceries_path do %>
          <i class="fas fa-shopping-basket fa-2x text-white"></i>
        <% end %>
        <p class="grocery-counter"><%= groceries_counter %></p>
      </div>
      <i class="fas fa-bars fa-2x text-white hamburger"></i>
    </div>
  <% else %>
    <%= image_tag 'logo.png', class: "logo" %>
    <i class="fas fa-bars fa-2x text-white hamburger"></i>
  <% end %>
  <ul class="nav-links">
    <% if user_signed_in? %>
      <li><%= link_to "Home", root_path, class: "nav-link" %></li>
      <li><%= link_to "Grocery List", groceries_path, class: "nav-link" %></li>
      <li><%= link_to "Favorites", favorites_path, class: "nav-link" %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
      <% else %>
      <li><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
    <% end %>
  </ul>
</nav>
