<div class="bg-success text-white">
  <h1 class="p-2 text-center">Grocery list</h1>
</div>

<% @all_stores.each do |store| %>
    <div class="container" style="background: white;">
      <h1 class="pt-4"><%= store %></h1>
      <% @groceries.each do |grocery| %>
      <% new_product_array = @stores.select { |store_hash| store_hash[:product].product == grocery.product} %>
      <% new_store_array = new_product_array.map { |product| product[:store]}.flatten.uniq %>
        <% if grocery.store.name == store %>
          <div class="row d-flex align-items-center justify-content-between p-2 border-bottom">
            <img class="product-img" src="<%= grocery.product.product_img %>" alt="">
            <div class="col-4">
              <h3><%= grocery.product.name %></h3>
              <%= simple_form_for :grocery, url: grocery_path(grocery), method: "PATCH" do |f| %>
                <%= f.input :store_id, label: false, collection: new_store_array, input_html: {style: "width: 100px;"}  %>
                <%= f.input :product_id, as: :hidden, input_html: {value: grocery.product.id} %>
                <%= f.input :current_store_id, as: :hidden, :input_html => {value: grocery.store.id} %>
                <%= f.input :grocery_id, as: :hidden, :input_html => {value: grocery.id}  %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            </div>
            <%= image_tag grocery.product.nutriscore_img, class: "nutriscore-img" %>
                <%= button_tag type: 'submit', class: "button postfix" do %>
                  <i class="fas fa-shopping-basket" aria-hidden="true"></i>
                <% end %>
              <% end %>
            <%= link_to "", grocery_path(grocery), method: :delete, class: "fa fa-trash trash-icon"%>
          </div>
        <% end %>
      <% end %>
    </div>
<% end %>

<input type="number" value="50" min="0" max="100" step="1"/>
