<div class="bg-success text-white" style="margin-top: 55px;">
  <h1 class="p-2 text-center">Grocery list</h1>
</div>

<div style="overflow: scroll;">
<% @all_stores.each do |store| %>
  <div class="my-2 bg-white container">
    <h1><u><%= store %></u></h1>
    <% @groceries.each do |grocery| %>
      <% new_product_array = @stores.select { |store_hash| store_hash[:product].product == grocery.product} %>
      <% new_store_array = new_product_array.map { |product| product[:store]}.flatten.uniq %>
      <% if grocery.store.name == store %>
        <div class="row d-flex align-items-center justify-content-between p-2 border-bottom">
          <img class="product-img" src="<%= grocery.product.product_img %>" alt=""  data-toggle="modal" data-target="#product-info-<%= grocery.product.id %>">
          <div class="col-4">
            <h3><%= grocery.product.name %></h3>
            <%= simple_form_for :grocery, url: grocery_path(grocery), method: :patch do |f| %>
              <%= f.input :store_id, label: false, collection: new_store_array, input_html: { class: 'form-control', onchange: 'this.form.submit()' } %>
              <%= f.input :product_id, as: :hidden, input_html: {value: grocery.product.id} %>
              <%= f.input :current_store_id, as: :hidden, input_html: {value: grocery.store.id} %>
              <%= f.input :grocery_id, as: :hidden, input_html: {value: grocery.id}  %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <% end %>
          </div>
          <%= image_tag grocery.product.nutriscore_img, class: "nutriscore-img" %>
          <%= link_to "", grocery_path(grocery), method: :delete, class: "far fa-trash-alt fa-2x text-danger"%>
        </div>
      <% end %>


      <div class="modal fade" id="product-info-<%= grocery.product.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content p-3">
            <div class="modal-header row">
              <div class="back">
                <i class="fas fa-arrow-left" data-dismiss="modal"></i>
              </div>
              <div class="options">
                <i class="far fa-heart m-2"></i>
                <i class="fas fa-shopping-basket m-2"></i>
              </div>
            </div>
            <div class="modal-body">
              <div class="row border-bottom d-flex justify-content-between">
                <div class="col-8">
                  <h1 class="modal-title"><%= grocery.product.name %></h1>
                  <h2><%= grocery.product.brand %></h2>
                </div>
                <div class="col-4">
                  <%= image_tag grocery.product.nutriscore_img, size: "100x50"%>
                </div>
              </div>
              <div class="row justify-content-between my-5 mx-2">
                <% nutrition = JSON.parse(grocery.product.nutrition, symbolize_names: true) %>
                <div class="text-center d-flex flex-column justify-content-center">
                  <!-- <ul class="chart-skills">
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span></span></li>
                  </ul> -->
                  <h3 class="m-0" style="line-height: 1em;"><%= nutrition[:calories] %></h3>
                  <p class="m-0" style="line-height: 1em;">cal</p>
                </div>
                <div class="text-center">
                  <p class="m-0" style="color: blue; line-height: 1em"><%= ((nutrition[:carbohydrates][:total] * 4).fdiv(nutrition[:calories]) * 100).round %>%</p>
                  <h3 class="m-0" style="line-height: 1em;"><%= nutrition[:carbohydrates][:total] %> g</h3>
                  <p class="m-0" style="line-height: 1em">carbs</p>
                </div>
                <div class="text-center">
                  <p class="m-0" style="color: red; line-height: 1em;"><%= ((nutrition[:fat][:total] * 4).fdiv(nutrition[:calories]) * 100).round %>%</p>
                  <h3 class="m-0" style="line-height: 1em;"><%= nutrition[:fat][:total] %> g</h3>
                  <p class="m-0" style="line-height: 1em;">fat</p>
                </div>
                <div class="text-center">
                  <p class="m-0" style="color: purple; line-height: 1em;"><%= ((nutrition[:protein] * 4).fdiv(nutrition[:calories]) * 100).round %>%</p>
                  <h3 class="m-0" style="line-height: 1em;"><%= nutrition[:protein]%> g</h3>
                  <p class="m-0" style="line-height: 1em;">protein</p>
                </div>
              </div>
              <div class="row justify-content-between bg-light p-2">
                <h3>Nutrition Facts</h3>
                <h3>per 100g</h3>
              </div>
              <% nutrition.each do |nutrient, value| %>
                  <% if value.class == Hash %>
                    <div class="row justify-content-between px-2">
                      <h4><%= nutrient.capitalize %></h4>
                      <h4><%= value.values.first %> g</h4>
                    </div>
                    <% value.except(:total).each do |subnutrient, grams| %>
                      <div class="row justify-content-between ml-1 px-2">
                        <h4 class="font-weight-light"><%= subnutrient.capitalize %></h4>
                        <% if grams.nil? %>
                          <h4 class="font-weight-light">-</h4>
                        <% else %>
                          <h4 class="font-weight-light"><%= grams %> g</h4>
                        <% end %>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="row justify-content-between px-2">
                      <h4><%= nutrient.capitalize %></h4>
                      <h4><%= value %> g</h4>
                    </div>
                  <% end %>
              <% end %>
              <div class="row mt-3">
                <h3>Ingredients</h3>
                <p class="p-2"><%= grocery.product.ingredients %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
<% end %>
</div>

<!-- <input type="number" value="50" min="0" max="100" step="1"/> -->

