<div class="product-list row d-flex align-items-center justify-content-between p-2 border-bottom">
  <%= simple_form_for :@grocery,
                      url: groceries_path,
                      remote: true,
                      input_html: {
                        class: "row d-flex align-items-center justify-content-between p-2 border-bottom"
                      } do |f| %>
    <div class="col-3">
      <img class="product-img" src="<%= product.product_img %>" alt="" data-toggle="modal" data-target="#product-info-<%= product.id %>">
    </div>
    <div class="col-4">
      <h3 class="p-name" data-toggle="modal" data-target="#product-info-<%= product.id %>"><%= product.name %></h3>
      <%= f.input :store_id, label: false,include_blank: false, include_hidden: false, collection: store_array, input_html: {style: "width: 100px;"}%>
    </div>
    <%= f.input :product_id, as: :hidden, input_html: {value: product.id} %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <div class="col-3">
      <%= image_tag product.nutriscore_img, class: "nutriscore-img" %>
    </div>
    <div id='button' data-product-id='<%= product.id %>' class="col-2 grocery-submit-button">
      <% if user_signed_in? %>
        <% if all_groceries.any? {|gro| gro.product == product } %>
          <i class="fas fa-check text-success fa-2x"></i>
        <% else %>
          <%= button_tag type: 'submit', class: "button add-grocery border-0 bg-white postfix" do %>
            <i class="fas fa-shopping-basket fa-2x" aria-hidden="true"></i>
          <% end %>
          <i class='fas fa-check text-success fa-2x grocery-added d-none'></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fas fa-shopping-basket fa-2x" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render 'shared/product_info_modal', product: product %>
