<div id="map"
     style="width: 414px; height: 275px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<% @products.each do |product| %>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header row">
          <div class="back">
            <i class="fas fa-arrow-left" data-dismiss="modal"></i>
          </div>
          <div class="options">
            <i class="far fa-heart m-2"></i>
            <i class="fas fa-shopping-basket m-2"></i>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="border-bottom d-flex justify-content-between col-10">
              <div>
                <h1 class="modal-title"><%= product.name %></h1>
                <h2><%= product.brand %></h2>
              </div>
              <div class="d-flex align-items-center col-2">
                <h1><%= product.nutriscore %></h1>
              </div>
            </div>
          </div>
          <div class="row justify-content-between">
            <h3><%= JSON.parse(product.nutrition, symbolize_names: true)[:calories] %>cal</h3>
            <h3><%= JSON.parse(product.nutrition, symbolize_names: true)[:carbohydrates][:total] %>g carbs</h3>
            <h3><%= JSON.parse(product.nutrition, symbolize_names: true)[:fat][:total] %>g fat</h3>
            <h3><%= JSON.parse(product.nutrition, symbolize_names: true)[:protein]%>g protein</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
