<div id="map"
     style="width: 414px; height: 275px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<% @products.each do |product| %>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-3">
        <div class="modal-header row">
          <div class="back">
            <i class="fas fa-arrow-left" data-dismiss="modal"></i>
          </div>
          <div class="options">
            <i class="far fa-heart m-2"></i>
            <i class="fas fa-shopping-basket m-2"></i>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="border-bottom d-flex justify-content-between col-10">
              <div>
                <h1 class="modal-title"><%= product.name %></h1>
                <h2><%= product.brand %></h2>
              </div>
              <div class="d-flex align-items-center col-2">
                <h1><%= product.nutriscore %></h1>
              </div>
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="text-center">
              <h3><%= JSON.parse(product.nutrition, symbolize_names: true)[:calories] %></h3>
              <p>cal</p>
            </div>
            <div class="text-center">
              <h3><%= JSON.parse(product.nutrition, symbolize_names: true)[:carbohydrates][:total] %> g</h3>
              <p>carbs</p>
            </div>
            <div class="text-center">
              <h3><%= JSON.parse(product.nutrition, symbolize_names: true)[:fat][:total] %> g</h3>
              <p>fat</p>
            </div>
            <div class="text-center">
              <h3><%= JSON.parse(product.nutrition, symbolize_names: true)[:protein]%> g</h3>
              <p>protein</p>
            </div>
          </div>
          <div class="row justify-content-between">
            <h4>Nutrition Facts</h4>
            <h4>per 100g</h4>
          </div>
          <% JSON.parse(product.nutrition, symbolize_names: true).each do |nutrient, value| %>
              <% if value.class == Hash %>
                <% value.each do |subnutrient, grams| %>
                  <div class="row justify-content-between">
                    <h4><%= subnutrient %></h4>
                    <% if grams.nil? %>
                      <h4>-</h4>
                    <% else %>
                      <h4><%= grams %> g</h4>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <div class="row justify-content-between">
                  <h4><%= nutrient %></h4>
                  <h4><%= value %> g</h4>
                </div>
              <% end %>
          <% end %>
          <div class="row">
            <h3>Ingredients</h3>
            <p><%= product.ingredients %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>









