<div id="map"
     style="width: 100%; height: calc(40vh - 10vh);position: absolute; top: 10vh; z-index: 1;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     data-coordinates = "<%= @coordinates.to_json %>">
</div>

<div class="container" style="background: white; margin-top: 30vh;">

  <div class="product-search p-3">
    <%= form_tag products_path, method: :get, :class=>"search_bar " do %>
      <%= text_field_tag :query,
        params[:query],
        placeholder: "Find a product",
        class: "form-control mr-sm-2 "%>
      <div class="ml-3">
          <%= submit_tag "ðŸ”", class: "search-btn" %>
      </div>
    <% end %>
  </div>

  <% @hash.each do | product, store_array | %>
    <%= render 'product', product: product, store_array: store_array, all_groceries: @all_groceries %>
  <% end %>
</div>
